#content {
  margin-left: 250px;
  padding: 20px;
}
body {
    width: 300px;
    height: 300px;
    background-color: rgb(57, 55, 57);
  }

#menu {
  width: 300px;
  height: 300px;
  background-color: rgb(57, 55, 57);
}

#myButton
{
  --back-grround-color: rgba(255, 251, 224, 0.5);
  --glow-color: rgb(255, 251, 224);
  --glow-spread: rgb(255, 255, 255);
  --button-color: rgb(57, 55, 57);
  background-color: var(--button-color);
  color: var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);

  font-size: 20px;
  font-weight: bold;

  padding: 1em 2em;


  transition: all .5s;

  top: 0%;
  margin: 23%;

  border: .25em solid var(--back-grround-color);
  border-radius: 1em;

  outline: none;
  position: absolute;
  align-items: center;
}

#myButton:hover{
  color: var(--button-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
  0 0 1.25em .50em var(--glow-spread),
  inset 0 0 .75em .25em var(--glow-color);

}

#x {
    position: absolute;
    background: none;
    color: white;
    top: 10px;
    right: 10px;

}

#navbar {
  width: 10%; /* Initial width as a percentage */
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343a40; /* Bootstrap dark background color */
  overflow-x: hidden;
  transition: width 0.5s;
}

#navbar:hover, #navbar.show {
  width: 20%; /* Expanded width as a percentage */
}

#navbar ul {
  padding: 0;
  list-style: none;
}

#navbar a {
  text-decoration: none;
  font-size: 14px; /* Adjusted font size */
  color: white;
  display: flex;
  align-items: center; /* Center items vertically in the container */
  padding: 10px; /* Adjusted padding */
  transition: 0.3s;
  white-space: nowrap; /* Prevent text from wrapping */
}
#navbar ul li {
  text-decoration: none;
  font-size: 14px; /* Adjusted font size */
  color: white;
  display: flex;
  align-items: center; /* Center items vertically in the container */
  padding: 10px; /* Adjusted padding */
  transition: 0.3s;
  white-space: nowrap; /* Prevent text from wrapping */
}

#navbar a i {
  font-size: 18px; /* Adjusted icon size */
  margin-right: 8px; /* Adjusted margin */
  margin-left: -5px;
  padding-left: 0px;
}

#navbar a .label {
  display: none; /* Initially hide labels */
  margin-left: 8px; /* Adjusted margin */
}

#navbar:hover a .label {
  display: inline; /* Show labels on hover */
}

#navbar a:hover {
  color: #f1f1f1;
}

#openNav {
  position: absolute;
  background: none;
  color: white;
  top: 45%;
  left: 10px;
}

#customRange1 {
  width: 80%; /* Adjusted width as a percentage */
  margin: 10px 0; /* Added margin for spacing */
}

#summary {
  max-height: 200px;  
  width: 225px;
  top: 45%;
  margin: 5% 17.5%;
  position: absolute;
  overflow-y: auto;   
  white-space: pre-wrap; 
  border: 1px solid black; 
  padding: 10px;       
}

.hidden {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.hideMenu {
  opacity: 50;
  transition: opacity 0.2 ease;
}

.lds-grid {
  display: none;
  position: absolute;
  top: 50;
  left: 50;
  width: 20px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
