
body {
    width: 300px;
    height: 300px;
    background-color: rgb(57, 55, 57);
    padding: 10px;
    margin: 10px;
    color: white;
    display: grid;
    place-content: center;
  }

body h1
{
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  position: relative;
}

#myButton
{
  --back-grround-color: rgba(255, 251, 224, 0.5);
  --glow-color: rgb(255, 251, 224);
  --glow-spread: rgb(255, 255, 255);
  --button-color: rgb(57, 55, 57);
  background-color: var(--button-color);
  color: var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);

  font-size: 20px;
  font-weight: bold;

  padding: 1em 3em;
  margin: auto;

  transition: all .5s;

  border: .25em solid var(--back-grround-color);
  border-radius: 1em;

  outline: none;


}

#myButton:hover{
  color: var(--button-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
  0 0 1.25em .50em var(--glow-spread),
  inset 0 0 .75em .25em var(--glow-color);


}

#x {
    position: absolute;
    background: none;
    color: white;
    top: 10px;
    right: 10px;

}



#summary {
  max-height: 200px;  
  overflow-y: auto;   
  white-space: pre-wrap; 
  border: 1px solid #ccc; 
  padding: 10px;       
}




